
.reportPage{
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.reportDiv{
    width: 60%;
    border: 1px solid rgb(218,214,214);
    background-color: whitesmoke;
    padding: 5%;
    
}

.reportInfos{
    display: flex;
    justify-content: space-between;
}

.reportInputBlock{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.reportTests
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.nameOfTest{
    font-weight: 600;
    font-size: 18px;
}

.inputRows{
    display: flex;
    flex-direction: column;
}

.inputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputRowGroup{
    display: flex;
    flex-direction: column;

}

.inputTestName{
    font-size: 12px;
    color: black;
}

.btn-grp-add-rem{
    display: flex;
    
}

.add-btn-row{
    background-color: rgb(12,187,187);
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.inputFieldTests{
    border: 1px solid rgb(12,187,187);
    border-radius: 5px;
    width: 90%;
}

.inputFieldTests:focus{
    outline: none;
}